/**/__pycache__/
/**/.$*
/**/.idea/
/**/.venv/
/**/.vscode/
/**/dist/
/**/identifier.sqlite
/**/node_modules/
/Build/*
/ChecklistWebpage/public/data.json
/ChecklistWebpage/scripts/masterList.json
/ReactTest/
/SearchWebpage/src/masterList.jsx
/Server/data/db_initiated
/Server/data/quizData.sqlite
/Server/server_specifics.env
/Server/temp.pdf
/Wiki/
