/**/__pycache__/
/**/.$*
/**/.idea/
/**/.venv/
/**/.vscode/
/**/dist/
/**/identifier.sqlite
/**/node_modules/
/Build/*
/ChecklistWebpage/scripts/masterList.json
/ReactTest/
/SearchWebpage/src/masterList.jsx

/Wiki/
