:root {
    --backroundColor: #222;
    --foregroundColor: #fff;
    --raisedBorderColor: #444;
    --raisedBGColor: #333;
}

* {
    background-color: var(--backroundColor);
    color: var(--foregroundColor);
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

table,
tr,
td {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid red;
}

.horiz-stack {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.vert-stack {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.padded {
    padding: 10px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.top-aligned {
    vertical-align: top;
}

#testResults table tr:hover {
    background-color: var(--raisedBGColor);
}
#testResults table tr:hover td {
    background-color: #0000;
}


#testResults table th,
#testResults table td {
    padding: 1px 5px;
}

#testResults table th {
    font-size: 16px;
}

#testResults table th.groupname {
    width: 100%;
}
#testResults table td.lang,
#testResults table td.score {
    text-align: center;
}

