:root {
    --backroundColor: #222;
    --foregroundColor: #fff;
    --raisedBorderColor: #444;
    --raisedBGColor: #333;
}

* {
    background-color: var(--backroundColor);
    color: var(--foregroundColor);
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

table,
tr,
td {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid red;
}

body {
    min-width: 1400px;
    min-height: 800px;
    width: 100vw;
    height: 100vh;
}

#main-cell {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#main-left-cell {
    flex-grow: 1;
    border: 1px solid red;
    padding: 10px;
}

#main-right-cell {
    width: 500px;
    display: flex;
    flex-direction: column;
}

#main-top-right-cell {
    min-height: 0;
    flex-grow: 1;
    border: 1px solid red;
    padding: 10px;
}

#main-bottom-right-cell {
    min-height: 500px;
    border: 1px solid red;
    padding: 10px;
}

.horiz-stack {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.vert-stack {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.padded {
    padding: 10px;
    vertical-align: top;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

#testResults table tr:hover {
    background-color: var(--raisedBGColor);
}

#testResults table tr:hover th,
#testResults table tr:hover td {
    background-color: var(--raisedBGColor);
}


#testResults table th,
#testResults table td {
    padding: 1px 5px;
}

#testResults table th {
    font-size: 16px;
}

#testResults table th.groupname {
    width: 100%;
}

#testResults table td.lang,
#testResults table td.score {
    text-align: center;
}

#testContent table {
    width: 100%;
}

#testContent table th,
#testContent table td {
    padding: 2px 5px;
}

#testContent table td.testcontent-name {
    width: 50%;
}

#testContent table td.testcontent-location {
    width: 50%;
}

#testContent table td.testcontent-id {
    width: 60px;
    text-align: center;
}

#testContent table td.testcontent-number {
    width: 70px;
    text-align: center;
}

#testContent table td.testcontent-correct {
    width: 80px;
    text-align: center;
}