#main-bottom-right-cell {
    input.timeLeftInput {
        width: 100px;
    }
}

.confirmPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 250px;
    padding: 25px;
    border: 1px solid black;
    border-style: outset;
    border-radius: 20px;

    p {
        font-size: 1.2em;
    }

    div {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 25px;
        display: flex;
        justify-content: space-evenly;

        button {
            width: 30%;
            height: 40px;
            border-radius: 20px;
        }

        .cancel {
            color: #f44;
        }

        .confirm {
            color: #0f0;
        }
    }
}

