.confirmPopup {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    padding: 25px;
    border: 1px solid black;
    border-style: outset;
    border-radius: 20px;

    div.msg {
        h1 {
            font-size: 1.3em;
            margin-bottom: 10px;
        }

        font-size: 1.0em;
        white-space: pre-line;
    }

    div.buttons {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 20px;
        display: flex;
        justify-content: space-evenly;

        button {
            width: 110px;
            height: 45px;
            border-radius: 22.5px;
            font-size: 20px;
        }

        .cancel {
            color: #f44;
        }

        .confirm {
            color: #0f0;
        }
    }
}

.errorPopup {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    padding: 25px;
    border: 1px solid black;
    border-style: outset;
    border-radius: 20px;

    div.msg {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 100%;
        font-size: 1.0em;
        white-space: pre-line;

        h1 {
            font-size: 1.3em;
            margin-bottom: 10px;
        }
    }

    div.buttons {
        position: absolute;
        right: 20px;
        bottom: 20px;
        display: flex;
        justify-content: space-around;

        button {
            width: 100px;
            height: 45px;
            border-radius: 22.5px;
            font-size: 20px;
        }
    }
}