.leaderboard {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 2px solid var(--borderColor1);

    >div.buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 30px;

        margin-top: 5px;
        margin-bottom: 5px;

        >div {
            display: flex;
            flex-direction: row;
        }

        button.image>img {
            display: block;
            height: 30px;
            width: 30px;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
        }
    }

    >div.display {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        scrollbar-width: thin;

        table {
            /* table is made so only the right and bottom cells have border to simulate collapsing, */
            /* this is needed for the stickied thead > ths */
            border-spacing: 0px;
            border-collapse: separate;

            /* add background to all td */
            th {
                position: sticky;
                top: 0px;
                z-index: 2;
            }

            th,
            td {
                background-color: var(--backroundColor);
            }

            tr:nth-child(odd) td {
                background-color: var(--raisedBGColor);
            }

            /* overwrite hovered tr's ths/tds with hoverBG */
            tr:hover th,
            tr:hover td {
                background-color: var(--hoverBGColor);
            }

            /* overwrite selected tr's tds with selectedBG */
            tr.selected td {
                background-color: var(--selectedBGColor);
            }

            /* add borders to everything */
            th,
            td {
                border-right: 1px solid var(--borderColor1);
                border-bottom: 1px solid var(--borderColor1);
            }

            th {
                border-top: 1px solid var(--borderColor1);
            }

            th:first-child,
            td:first-child {
                border-left: 1px solid var(--borderColor1);
            }

            /* set manual widths so css can clip the long texts */
            .teamID {
                width: 110px;
            }

            .language {
                width: 35px;
            }

            .teamname {
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .score {
                width: 50px;
            }

            .timestamp {
                width: 85px;
            }

            /* set other stuff */
            table-layout: fixed;
            width: 100%;

            * {
                font-size: 18px;
            }

            tr {
                height: 30px;
                position: relative;
            }

            thead>tr {
                height: 50px;
            }

            th,
            td {
                padding: 2px 4px;
                cursor: pointer;
                overflow: hidden;
            }

            div.extra {
                position: absolute;
                top: 3px;
                left: 3px;
                text-align: left;
                z-index: 1;
                padding: 5px;
                background-color: var(--popupBGColor);
                border: 3px outset var(--raisedBorderColor);
                border-radius: 10px;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0s, visibility 0s;

                >p {
                    background-color: var(--popupBGColor);
                    margin-bottom: 3px;
                }
            }

            tr:hover div.extra,
            td:hover div.extra,
            div.extra:hover {
                opacity: 1;
                visibility: visible;
                transition-delay: 1s;
            }

            .teamID,
            .language,
            .score,
            .timestamp {
                text-align: center;
            }

            th.score,
            th.timestamp {
                font-size: 0.9em;
            }
        }
    }
}