.quiz-results {

    tr:hover,
    tr:hover th,
    tr:hover td {
        background-color: var(--raisedBGColor);
    }

    th,
    td {
        padding: 5px 5px;
        cursor: pointer;
    }

    th {
        font-size: 1.1em;
    }

    .groupname {
        width: 100%;
    }

    .teamID,
    .score,
    .timestamp,
    .lang {
        text-align: center;
    }

    .selected,
    .selected td {
        background-color: var(--raisedBGColor);
    }
}

