table.test-results {
    tr:hover,
    tr:hover th,
    tr:hover td {
        background-color: var(--raisedBGColor);
    }

    th, td {
        padding: 1px 5px;
    }

    th {
        font-size: 16px;
    }

    th.groupname {
        width: 100%;
    }

    td.lang, td.score {
        text-align: center;
    }
}

